@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
}


/* styles/globals.css */
@layer components {
  .texture-overlay{
    position: relative;
    overflow: hidden;
  }

  .texture-overlay::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: url('/backgrounds/gravel.webp');
    background-repeat: repeat; /* Make the pattern repeat */
    background-size: auto; /* Keep the natural size of the pattern */
    background-position: center;
    opacity: 0.3; /* Adjust opacity as needed */
    mix-blend-mode: multiply;
    pointer-events: none;
    z-index: 0; /* Ensure it's behind other content */
  }

  .squiggle-texture-overlay {
    position: relative;
    overflow: hidden;
  }

  .squiggle-texture-overlay::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: url('/backgrounds/45degree_fabric.webp');
    background-repeat: repeat; /* Make the pattern repeat */
    background-size: auto; /* Keep the natural size of the pattern */
    background-position: center;
    opacity: 0.4; /* Adjust opacity as needed */
    mix-blend-mode: multiply;
    pointer-events: none;
    z-index: 0; /* Ensure it's behind other content */
  }

  .button-texture-overlay {
    position: relative;
    overflow: hidden;
  }

  .button-texture-overlay::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: url('/backgrounds/memphis-mini.webp');
    background-repeat: repeat; /* Make the pattern repeat */
    background-size: auto; /* Keep the natural size of the pattern */
    background-position: center;
    opacity: 0.4; /* Adjust opacity as needed */
    mix-blend-mode: multiply;
    pointer-events: none;
    z-index: 0; /* Ensure it's behind other content */
  }  

  h1, p, a {
    position: relative;
    z-index: 1; /* Place the content above the texture */
  }  
}